/* 500 */
@font-face {
  font-family: "Gilroy-Medium";
  src:
    url("./fonts/GilroyMedium/gilroy-medium.woff2") format("woff2"),
    url("./fonts/GilroyMedium/gilroy-medium.eot") format("eot"),
    url("./fonts/GilroyMedium/gilroy-medium.woff") format("woff"),
    url("./fonts/GilroyMedium/gilroy-medium.ttf") format("truetype");
  /* url("./fonts/GilroyMedium/gilroy-medium.svg#gilroy-medium") format("svg"); */
  font-weight: 500;
}

/* 400 */
@font-face {
  font-family: "Gilroy-Regular";
  src:
    url("./fonts/GilroyRegular/gilroy-regular.woff2") format("woff2"),
    url("./fonts/GilroyRegular/gilroy-regular.eot") format("eot"),
    url("./fonts/GilroyRegular/gilroy-regular.woff") format("woff"),
    url("./fonts/GilroyRegular/gilroy-regular.ttf") format("truetype");
  /* url("./fonts/GilroyRegular/gilroy-regular.svg#gilroy-regular") format("svg"); */
  font-weight: 400;
}

/* 700 */
@font-face {
  font-family: "Gilroy-Bold";
  src:
    url("./fonts/GilroyBold/Gilroy-Bold.woff2") format("woff2"),
    url("./fonts/GilroyBold/Gilroy-Bold.eot") format("eot"),
    url("./fonts/GilroyBold/Gilroy-Bold.woff") format("woff"),
    url("./fonts/GilroyBold/Gilroy-Bold.ttf") format("ttf");
  font-weight: 700;
}

/* 600 */
@font-face {
  font-family: "Gilroy-SemiBold";
  src:
    url("./fonts/GilroySemiBold/GilroySemibold.woff2") format("woff2"),
    url("./fonts/GilroySemiBold/GilroySemiBold.eot") format("eot"),
    url("./fonts/GilroySemiBold/GilroySemibold.woff") format("woff"),
    url("./fonts/GilroySemiBold/GilroySemibold.ttf") format("ttf");
  font-weight: 600;
}

/* @media screen and (max-width: 800px) {
    .bPopupContent > input {
      width: 90%;
      height: 50px;
      border: none;
      border-radius: 12px;
      padding-left: 7%;
      outline: none;
    }
  }
  
  @media screen and (min-width: 800px) {
    .bPopupContent > input {
      width: 93%;
      height: 50px;
      border: none;
      border-radius: 12px;
      padding-left: 7%;
      outline: none;
    }
  } */

.iti__selected-dial-code {
  font-size: 16px;
  line-height: 1.3;
  /* letter-spacing: 0px; */
  font-family: "Gilroy-Medium";
  color: #313131;
  margin: 0;
}

.bPopupContent>input {
  width: 93%;
  height: 50px;
  border: none;
  border-radius: 12px;
  padding: 0 0 0 7%;
  outline: none;
}

html::-webkit-scrollbar {
  display: none;
}

.bPopupContent::-webkit-scrollbar {
  display: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

h1 {
  font-size: 24px;
  line-height: 1;
  /* letter-spacing: -1px; */
  font-family: "Gilroy-SemiBold";
  color: #000000;
}

h2 {
  font-size: 18px;
  line-height: 18px;
  font-family: "Gilroy-Bold";
  margin: 0;
}

h3,
button {
  font-size: 16px;
  /* line-height: 16px; */
  font-family: "Gilroy-SemiBold";
  margin: 0;
  color: #080808;
}

p,
input,
li,
a,
option,
select {
  font-size: 16px;
  line-height: 1.3;
  /* letter-spacing: 0px; */
  font-family: "Gilroy-Medium";
  color: #313131;
  margin: 0;
}

.tooltip {
  font-size: 12px;
  line-height: 13.2px;
  font-family: "Gilroy-Semibold";
  margin: 0;
}

.link {
  font-size: 16px;
  line-height: 20px;
  font-family: "Gilroy-Bold";
  text-decoration: underline;
  cursor: pointer;
}

input {
  background-color: #fffbf4;
}

button {
  width: 100%;
  height: 50px;
  background-color: #ee7a45;
  color: white;
  border-radius: 255px;
  border: none;
  margin-top: 5px;
}

button:hover {
  background-color: #fc8a56;
  cursor: pointer;
  animation: horizontal-shaking 0.35s infinite;
}

button:active {
  background-color: #ed743d;
}

body {
  margin: 0;
  background-color: #dbceb7;
}

.navbar {
  overflow: hidden;
  background-color: #fffbf4;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-around;
  z-index: 100;
}

.tab {
  float: left;
  display: block;
  text-align: center;
  /* padding: 14px 16px; */
  margin: auto;
  text-decoration: none;
  transition: all 0.5s;
}

.tab>label {
  margin: auto;
  color: black;
  cursor: pointer;
  font-size: 12px;
}

label {
  display: block;
  font-size: 16px;
  font-family: "Gilroy-SemiBold";
}

.header {
  height: 70px;
  width: 100%;
  background-color: #dbceb7;
  /* border: 1px solid black; */
  display: none;
  justify-content: space-between;
}

.header2 {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.circle {
  width: 49px;
  height: 49px;
  border-radius: 50%;
  background-color: #fffbf4;
  margin-left: 10px;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  /* min-width: 100px;
    min-height: 100px; */
  aspect-ratio: 1 / 1;

}

.circleName {
  font-size: 22px;
  color: #c9ba9e;
  font-family: "Gilroy-Bold";
}

.nameHeader {
  max-width: max-content;
  margin-left: 10px;
  font-size: 22px;
  font-family: "Gilroy-SemiBold";
  display: flex;
}

.nameHeader>img {
  margin: auto;
}

.balanceHeader {
  text-align: end;
  align-self: center;
  margin-right: 20px;
  display: flex;
  flex-direction: column;
  align-items: end;
}

.balanceHeader>div>p {
  margin: 0 3px 0 0;
  font-size: 12px;
}

.main {
  background-color: #f5f0e7;
  padding: 20px;
  min-height: 500px;
}

.removeScrolling {
  /* height: 100vh; */
  overflow: hidden;
}

/* .navbar a:hover {
    background: #ddd;
    color: black;
    cursor: pointer;
    stroke: black;
  } */

/* .tab {
    width: 20px;
    height: 20px;
    overflow: hidden;
    /* padding: 15px;
    cursor: pointer;
    text-decoration: none;
    /* transition: all 0.5s;
  } */

.addBorderRadius {
  border-radius: 30px 30px 0 0;
}

.MyInput {
  width: 95%;
  height: 50px;
  border: none;
  border-radius: 12px;
  padding-left: 16px;
  outline: none;
}

.MyInput:focus {
  outline: solid #dbceb7;
  /* margin: 25px 0 10px 0; */
}

textarea {
  font-size: 16px;
  font-family: "Gilroy-Medium";
  line-height: 20px;
}

.bPopupContent {
  margin: auto 40px auto 40px;
  padding: 20px;
  max-width: 300px;
  width: 300px;
  background-color: #f5f0e7;
  border-radius: 30px;
  max-height: 450px;
  overflow: scroll;
}

/* .bPopupContent > h1 {
    margin-bottom: 25px;
  } */

/* .bPopupContent > input {
    width: 93%;
    height: 50px;
    border: none;
    border-radius: 12px;
    padding-left: 7%;
    outline: none;
    margin: 25px 0 10px 0;
  } */

.bPopupContent>input:focus {
  outline: solid #dbceb7;
  /* margin: 25px 0 10px 0; */
}

.referrer {
  width: 100%;
  height: 100%;
  background-color: rgba(86, 86, 86, 0.6);
  overflow: hidden;
  position: fixed;
  top: 0px;
  display: none;
  justify-content: center;
  margin-bottom: 50px;
  z-index: 3;
}

.alertPopUp {
  position: fixed;
  top: 12px;
  left: 0;
  width: 100%;
  height: 5px;
  z-index: 1000;
  opacity: 0;
  transition: 2s;
}

.alertContent {
  width: 210px;
  height: max-content;
  background-color: #f5f0e7;
  border-radius: 20px;
  padding: 12px 12px 12px 12px;
  text-align: center;
  margin: auto;
  box-shadow: 0 0 6px 0 rgba(141, 133, 118, 0.2);
}

.moveClass {
  opacity: 1;
  transition: 0.5s;
}

/* .animated {
    transform: translateY(-100%);
    transition: transform 1s linear;
    opacity: 0;
    transition: 2s;
  }
  
  .animated:hover {
    transform: translateY(0);
    opacity: 1;
    transition: 0.5s;
  } */

/* loader */

.loader {
  border: 4px solid rgba(0, 0, 0, 0.4);
  border-left-color: transparent;
  width: 36px;
  height: 36px;
  animation: spin89345 1s linear infinite;
  border-radius: 50%;
  margin: auto;
}

@keyframes spin89345 {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.preloader {
  width: 100%;
  height: 100%;
  /* background-color: rgba(86, 86, 86, 0.6); */
  overflow: hidden;
  position: fixed;
  top: 0px;
  display: none;
  justify-content: center;
  margin-bottom: 50px;
  z-index: 3;
}

/* loader */

.balanceHeader {
  cursor: pointer;
}