.imageContact {
  width: 50px;
  height: 50px;
  transition: 1s;
  margin: 10px 5px 10px 5px;
}

.imageContact:hover {
  transform: scale(1.2);
}

.contactUs {
  display: flex;
  justify-content: center;
}

/* .main {
  border-radius: 30px 30px 0 0;
} */

.fieldPromo {
  background-color: #fffbf4;
  border-radius: 50px;
  padding: 17px;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}

.circleField {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #ee7a45;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* .circleField > img {
  display: flex;
  justify-content: center;
} */

.field {
  background-color: #fffbf4;
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
  padding: 16px;
  margin-bottom: 8px;
  cursor: pointer;
}

.sevenFeetUnderKeel {
  max-width: 230px;
}

#another>label {
  color: #ee7a45;
}

/* #referrerPromo {
  width: 100%;
  height: 100%;
  background-color: rgba(86, 86, 86, 0.6);
  overflow: hidden;
  position: fixed;
  top: 0px;
  display: none;
  justify-content: center;
}

.popUpPromo {
  margin: auto 20px auto 20px;
  max-width: 300px;
  max-height: 450px;
  overflow: scroll;
  background-color: #f5f0e7;
  border-radius: 30px;
  padding: 20px;
} */

.flex {
  display: flex;
  justify-content: flex-end;
}

#closePromoButton {
  cursor: pointer;
}

/* .MyInput {
  width: 94%;
  margin-bottom: 14px;
} */

#activationPromoBtn {
  margin-bottom: 12px;
}

.slide {
  height: 112px;
  padding: 16px 16px 0 16px;
  border-radius: 20px;
  margin-bottom: 10px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* #pickPromo {
  cursor: pointer;
} */

/* 
#secondMain,
#thirdMain,
#fourthMain {
  border-radius: 30px 30px 0 0;
} */

/* #pickRefProgram {
  cursor: pointer;
} */

#thirdMain>h1 {
  margin-bottom: 32px;
}

#thirdMain>h2 {
  margin-bottom: 8px;
}

#thirdMain>p {
  color: #6b6b6b;
  margin-bottom: 16px;
}

.fieldCopyPromo {
  background-color: #fffbf4;
  border-radius: 12px;
  padding: 12px 16px 12px 16px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
}

#share {
  margin-bottom: 32px;
}

.infoContent {
  display: flex;
  flex-wrap: wrap;
  margin-right: -10px;
  margin-top: 16px;
  margin: 16px -10px 24px 0;
}

.classContent {
  background-color: #fffbf4;
  padding: 16px;
  border-radius: 20px;
  /* display: flex; */
  flex: 1 0 30%;
  margin-bottom: 10px;
  margin-right: 10px;
}

.classContent>h1 {
  color: #ee7a45;
  margin: 0 0 4px 0;
}

#thirdMain>.link {
  font-size: 16px;
  color: #ee7a45;
  margin-bottom: 50px;
  max-width: max-content;
  font-family: "Gilroy-Bold";
}

#errMessBonus {
  color: red;
  font-size: 12px;
  padding-left: 7%;
  margin-bottom: 14px;
}

.innerPromo {
  margin-bottom: 50px;
}


#sendError {
  margin: auto;
  width: max-content;
  color: #ee7a45;
  border-bottom: 1px solid #ee7a45;
  cursor: pointer;
  margin-bottom: 50px;
}


textarea {
  width: 92%;
  border: none;
  padding: 18px 4% 18px 4%;
  border-radius: 12px;
  background-color: #fffbf4;
  outline: none;
  overflow: hidden;
  resize: none;
}

#closeErrorBackButton {
  cursor: pointer;
}

.input-file-row {
  display: flex;
  flex-direction: column;
  align-items: center;

}

.input-file {
  position: relative;
  display: inline-block;
}

.input-file span {
  position: relative;
  display: inline-block;
  cursor: pointer;
  outline: none;
  text-decoration: none;
  font-size: 14px;
  vertical-align: middle;
  color: rgb(255 255 255);
  text-align: center;
  border-radius: 4px;
  background-color: #ee7a45;
  line-height: 22px;
  height: 40px;
  padding: 10px 20px;
  box-sizing: border-box;
  border: none;
  margin: 0;
  transition: background-color 0.2s;
}

.input-file input[type=file] {
  position: absolute;
  z-index: -1;
  opacity: 0;
  display: block;
  width: 0;
  height: 0;
}

/* Focus */
.input-file input[type=file]:focus+span {
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, .25);
}

/* Hover/active */
.input-file:hover span {
  background-color: #fc8a56;
}

/* .input-file:active span {
	background-color: #fc8a56;
} */

/* Disabled */
.input-file input[type=file]:disabled+span {
  background-color: #eee;
}

/* Список c превью */
.input-file-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 10px;
}

.input-file-list>img {
  margin-bottom: 7px;
}

.input-file-list-item {
  display: inline-block;
  margin: 0 15px 15px;
  width: 150px;
  vertical-align: top;
  position: relative;
}

.input-file-list-item img {
  width: 150px;
}

.input-file-list-name {
  text-align: center;
  display: block;
  font-size: 12px;
  text-overflow: ellipsis;
  overflow: hidden;
}

.input-file-list-remove {
  color: #fff;
  text-decoration: none;
  display: inline-block;
  position: absolute;
  padding: 0;
  margin: 0;
  top: 5px;
  right: 5px;
  background: #ff0202;
  width: 16px;
  height: 16px;
  text-align: center;
  line-height: 16px;
  border-radius: 50%;
}

#err, #errMessForm {
  color: red;
  margin-bottom: 10px;
}

.classRadio {
  --radio: #b3a791;
  --radio-checked: #ee7a45;
  --radio-size: 20px;
  display: grid;
  grid-template-columns: auto var(--radio-size);
  align-items: center;
  justify-content: flex-start;
  margin: 10px 0 10px 0;
}

.classRadio label {
  cursor: pointer;
  margin-bottom: 10px;
  color: #313131;
  font-size: 16px;
  font-family: "Gilroy-Medium";
  width: max-content;
}

.classRadio input[type="radio"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  position: relative;
  height: var(--radio-size);
  width: var(--radio-size);
  outline: none;
  margin: 0 5px 10px 0;
  cursor: pointer;
  border: 2px solid var(--radio);
  background: transparent;
  border-radius: 50%;
  display: grid;
  justify-self: end;
  justify-items: center;
  align-items: center;
  overflow: hidden;
  transition: border 0.5s ease;
}

.classRadio input[type="radio"]::before,
.classRadio input[type="radio"]::after {
  content: "";
  display: flex;
  justify-self: center;
  border-radius: 50%;
}

.classRadio input[type="radio"]::before {
  position: absolute;
  width: 100%;
  height: 100%;
  background: var(--background);
  z-index: 1;
  opacity: var(--opacity, 1);
}

.classRadio input[type="radio"]::after {
  position: relative;
  width: calc(100% / 2);
  height: calc(100% / 2);
  background: var(--radio-checked);
  top: var(--y, 100%);
  transition: top 0.5s cubic-bezier(0.48, 1.97, 0.5, 0.63);
}

.classRadio input[type="radio"]:checked {
  --radio: var(--radio-checked);
}

.classRadio input[type="radio"]:checked::after {
  --y: 0%;
  animation: stretch-animate 0.3s ease-out 0.17s;
}

.classRadio input[type="radio"]:checked::before {
  --opacity: 0;
}

.classRadio input[type="radio"]:checked~input[type="radio"]::after {
  --y: -100%;
}

.classRadio input[type="radio"]:not(:checked)::before {
  --opacity: 1;
  transition: opacity 0s linear 0.5s;
}

@keyframes stretch-animate {
  0% {
    transform: scale(1, 1);
  }

  28% {
    transform: scale(1.15, 0.85);
  }

  50% {
    transform: scale(0.9, 1.1);
  }

  100% {
    transform: scale(1, 1);
  }
}

.classHide {
  display: none;
}

.removeImage {
  height: 15px;
  /* position: relative;
  top: 25px;
  left: 220px;
  display: flex; */
  margin: 5px;
  cursor: pointer;
  background-color: white;
  border-radius: 50%;

}

.removeImageDiv {
  border-radius: 20px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-width: 90px;
  min-height: 90px;
  aspect-ratio: 1 / 1;
  margin-right: 7px;
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
}

.smallBtn {
  padding: 3px 10px;
  width: max-content;
  height: max-content;
}