#summ::-webkit-outer-spin-button,
#summ::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

#summ {
  appearance: none;
}

.bPopupContent>button {
  margin: 16px 0 18px 0;
}

.btn-close {
  cursor: pointer;
}

.classRadio {
  --radio: #b3a791;
  --radio-checked: #ee7a45;
  --radio-size: 20px;
  display: grid;
  grid-template-columns: auto var(--radio-size);
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 7px;
}

.classRadio label {
  cursor: pointer;
  margin-bottom: 10px;
  color: #313131;
  font-size: 16px;
  font-family: "Gilroy-Medium";
}

.classRadio input[type="radio"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  position: relative;
  height: var(--radio-size);
  width: var(--radio-size);
  outline: none;
  margin: 0 5px 10px 0;
  cursor: pointer;
  border: 2px solid var(--radio);
  background: transparent;
  border-radius: 50%;
  display: grid;
  justify-self: end;
  justify-items: center;
  align-items: center;
  overflow: hidden;
  transition: border 0.5s ease;
}

.classRadio input[type="radio"]::before,
.classRadio input[type="radio"]::after {
  content: "";
  display: flex;
  justify-self: center;
  border-radius: 50%;
}

.classRadio input[type="radio"]::before {
  position: absolute;
  width: 100%;
  height: 100%;
  background: var(--background);
  z-index: 1;
  opacity: var(--opacity, 1);
}

.classRadio input[type="radio"]::after {
  position: relative;
  width: calc(100% / 2);
  height: calc(100% / 2);
  background: var(--radio-checked);
  top: var(--y, 100%);
  transition: top 0.5s cubic-bezier(0.48, 1.97, 0.5, 0.63);
}

.classRadio input[type="radio"]:checked {
  --radio: var(--radio-checked);
}

.classRadio input[type="radio"]:checked::after {
  --y: 0%;
  animation: stretch-animate 0.3s ease-out 0.17s;
}

.classRadio input[type="radio"]:checked::before {
  --opacity: 0;
}

.classRadio input[type="radio"]:checked~input[type="radio"]::after {
  --y: -100%;
}

.classRadio input[type="radio"]:not(:checked)::before {
  --opacity: 1;
  transition: opacity 0s linear 0.5s;
}

@keyframes stretch-animate {
  0% {
    transform: scale(1, 1);
  }

  28% {
    transform: scale(1.15, 0.85);
  }

  50% {
    transform: scale(0.9, 1.1);
  }

  100% {
    transform: scale(1, 1);
  }
}

#pay>label {
  color: #ee7a45;
}

.header {
  display: flex;
}

.main {
  background-color: #f5f0e7;
  padding: 20px;
  border-radius: 30px 30px 0 0;
}

.bonusMain {
  background-color: #fffbf4;
  border-radius: 20px;
  padding: 15px;

  margin-bottom: 20px;
}

.bonus {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 24px;
}

.bonus>p {
  margin: 0;
}


.bonusHowGet {
  font-size: 16px;
  color: #ee7a45;
}

.gift {
  display: flex;
  align-items: baseline;
}

.giftImage {
  background-color: #ee7a45;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#BodyBonus {
  margin-left: 8px;
}

.balanceMain {
  display: flex;
  margin-bottom: 15px;
}

.balanceRub,
.balanceEuro {
  background-color: #fffbf4;
  border-radius: 20px;
  padding: 15px;
  width: 100%;
}

.valute {
  display: flex;
  justify-content: space-between;
  margin-bottom: 35px;
}

.valute>p {
  margin: 0;
  font-size: 16px;
  line-height: 16px;
  font-family: "Gilroy-Medium";
}

.balanceRub {
  margin-right: 15px;
}

.bodyValute {
  display: flex;
}

.bodyValute>p {
  margin: 0 3px 0 0;
  size: 18px;
  font-family: "Gilroy-Bold";
}

.btn {
  margin-bottom: 40px;
}

.history {
  margin-bottom: 20px;
}

.historyDate {
  margin: 0;
  font-size: 12px;
  line-height: 12px;
  font-family: "Gilroy-Medium";
  color: #9f9f9f;
  margin-bottom: 15px;
}

.operation {
  display: flex;
  justify-content: space-between;
}

.operation>p {
  margin: 0;
}

.amount {
  font-family: "Gilroy-Bold";
}

#innerHistory {
  margin-bottom: 20px;
}

.loadMore {
  margin-bottom: 40px;
}

.classHide {
  display: none;
}

.flex {
  display: flex;
  justify-content: flex-end;
}

.removeMargin {
  margin: 0;
}

#errMess,
#errMessBonus,
#errEmail {
  color: red;
  font-size: 12px;
  padding-left: 7%;
}

#bonusInput {
  margin-top: 8px;
}

#userEmail {
  margin-top: 8px;
}