.imgContainer {
  width: 200px;
  height: 210px;
  background: url("../../image/enot.gif");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 50%;
}

.imgClass {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}

.inlineBlock {
  display: flex;
  margin-bottom: 8px;
  justify-content: center;
}
.inlineBlock > h1 {
  margin: 0;
}

.inlineBlock > img {
  margin-right: 8px;
}

.someText {
  text-align: center;
  color: #6b6b6b;
  margin-bottom: 24px;
}

.main {
  text-align: center;
  min-height: max-content;
  margin-top: 19vh;
}

body {
  background-color: #f5f0e7;
}

#hideIfNotTg {
  display: none;
}

.link {
  color: #ee7a45;
}
