.classHide {
    display: none;
}

#showFrame {
    padding: 0;
    /* margin-bottom: 30px; */
}

.insertTeacher {
    margin-bottom: 40px;
}

.moreAboutTeacher {
    cursor: pointer;
}

.teacherList {
    cursor: pointer;
    margin-bottom: 10px;
}

/* #isFrame {
    border-radius: 30px 30px 0 0;
} */